In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder

# Load the dataset and check for missing values

In [2]:
df = pd.read_csv("C:/Users/HP/OneDrive/Programming Repository/datasets/sample_ML_datasets/Student_Mental_Health.csv")
df.head(3)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No

In [3]:
# average_score = []

# for item in df["What is your CGPA?"]:
#     a = item.split(" ")
#     average = (float(a[0]) + float(a[2]))/2

#     average_score.append(average)
    
# df["What is your CGPA?"] = average_score

# df

In [4]:
df.dtypes

Timestamp                                        object
Choose your gender                               object
Age                                             float64
What is your course?                             object
Your current year of Study                       object
What is your CGPA?                               object
Marital status                                   object
Do you have Depression?                          object
Do you have Anxiety?                             object
Do you have Panic attack?                        object
Did you seek any specialist for a treatment?     object
dtype: object

In [5]:
# df["Timestamp"] = pd.to_datetime(df["Timestamp"])

# df.dtypes

In [6]:
# Science = []

# for item in df["What is your course?"]:
#     if item == "Engineering" or item == "Mathemathics":
#         Science.append("Science")
#     else:
#         Science.append(item)
        
# df["What is your course?"] = Science

# df

In [7]:
df["Timestamp"]

0           8/7/2020 12:02
1           8/7/2020 12:04
2           8/7/2020 12:05
3           8/7/2020 12:06
4           8/7/2020 12:13
              ...
96     13/07/2020 19:56:49
97     13/07/2020 21:21:42
98     13/07/2020 21:22:56
99     13/07/2020 21:23:57
100    18/07/2020 20:16:21
Name: Timestamp, Length: 101, dtype: object

In [8]:
df["Do you have Depression?"].value_counts()

No     66
Yes    35
Name: Do you have Depression?, dtype: int64

In [9]:
df.isna().any()

Timestamp                                       False
Choose your gender                              False
Age                                              True
What is your course?                            False
Your current year of Study                      False
What is your CGPA?                              False
Marital status                                  False
Do you have Depression?                         False
Do you have Anxiety?                            False
Do you have Panic attack?                       False
Did you seek any specialist for a treatment?    False
dtype: bool

# Fill up the missing values with the average of the available values in the colunms

In [10]:
df["Age"] = df["Age"].fillna(df["Age"].mean())
df.isna().any()

Timestamp                                       False
Choose your gender                              False
Age                                             False
What is your course?                            False
Your current year of Study                      False
What is your CGPA?                              False
Marital status                                  False
Do you have Depression?                         False
Do you have Anxiety?                            False
Do you have Panic attack?                       False
Did you seek any specialist for a treatment?    False
dtype: bool

In [11]:
col_names = list(df.columns)
print(col_names[0])

Timestamp

## Look at all the unique entries in "What is your course?" column

In [12]:
print(list(df["What is your course?"].unique()))

['Engineering', 'Islamic education', 'BIT', 'Laws', 'Mathemathics', 'Pendidikan islam', 'BCS', 'Human Resources', 'Irkhs', 'Psychology', 'KENMS', 'Accounting ', 'ENM', 'Marine science', 'KOE', 'Banking Studies', 'Business Administration', 'Law', 'KIRKHS', 'Usuluddin ', 'TAASL', 'Engine', 'ALA', 'Biomedical science', 'koe', 'Kirkhs', 'BENL', 'Benl', 'IT', 'CTS', 'engin', 'Econs', 'MHSC', 'Malcom', 'Kop', 'Human Sciences ', 'Biotechnology', 'Communication ', 'Diploma Nursing', 'Pendidikan Islam ', 'Radiography', 'psychology', 'Fiqh fatwa ', 'DIPLOMA TESL', 'Koe', 'Fiqh', 'Islamic Education', 'Nursing ', 'Pendidikan Islam']

## Look at all the unique entries in the "Your current year of Study" column
**Observe that some spelling of year starts with a `capital Y` and others with a `small y`**

In [13]:
print(list(df["Your current year of Study"].unique()))

['year 1', 'year 2', 'Year 1', 'year 3', 'year 4', 'Year 2', 'Year 3']

## Create a mapping function for the "Your current year of Study" columns

In [14]:
def map_study_year(data):
    study_year = []
    for item in data:
        if (item == "year 1" or item == "Year 1"):
            study_year.append(0)
        elif (item == "year 2" or item == "Year 2"):
            study_year.append(1)
        elif (item == "year 3" or item == "Year 3"):
            study_year.append(2)
        else:
            study_year.append(3)
    return study_year 
    
data = df["Your current year of Study"]
    
df["Your current year of Study"] = map_study_year(data)
df.head(2)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,0,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,1,3.00 - 3.49,No,No,Yes,No,No

In [15]:
Timestamp_df = df[col_names[0]]
Age_df = df[col_names[2]]
CGPA_df = df[col_names[5]]

In [16]:
try:
    Timestamp_df = df.pop("Timestamp")
except:
    print("Done")

In [17]:
Timestamp_df

0           8/7/2020 12:02
1           8/7/2020 12:04
2           8/7/2020 12:05
3           8/7/2020 12:06
4           8/7/2020 12:13
              ...
96     13/07/2020 19:56:49
97     13/07/2020 21:21:42
98     13/07/2020 21:22:56
99     13/07/2020 21:23:57
100    18/07/2020 20:16:21
Name: Timestamp, Length: 101, dtype: object

In [18]:
time = pd.to_datetime(Timestamp_df)
time

0     2020-08-07 12:02:00
1     2020-08-07 12:04:00
2     2020-08-07 12:05:00
3     2020-08-07 12:06:00
4     2020-08-07 12:13:00
              ...
96    2020-07-13 19:56:49
97    2020-07-13 21:21:42
98    2020-07-13 21:22:56
99    2020-07-13 21:23:57
100   2020-07-18 20:16:21
Name: Timestamp, Length: 101, dtype: datetime64[ns]

## Create a mapping function for the "Yes" - "No" and "Male" - "Female" questions

In [19]:
def map_value(data):
        mylist = []
        for item in data:
            if item == "No" or item == "Female":
                mylist.append(0)
            else:
                mylist.append(1)
        return mylist

df["Do you have Depression?"] = map_value(df["Do you have Depression?"])
df

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,Female,18.0,Engineering,0,3.00 - 3.49,No,1,No,Yes,No
1,Male,21.0,Islamic education,1,3.00 - 3.49,No,0,Yes,No,No
2,Male,19.0,BIT,0,3.00 - 3.49,No,1,Yes,Yes,No
3,Female,22.0,Laws,2,3.00 - 3.49,Yes,1,No,No,No
4,Male,23.0,Mathemathics,3,3.00 - 3.49,No,0,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,Female,21.0,BCS,0,3.50 - 4.00,No,0,Yes,No,No
97,Male,18.0,Engineering,1,3.00 - 3.49,No,1,Yes,No,No
98,Female,19.0,Nursing,2,3.50 - 4.00,Yes,1,No,Yes,No
99,Female,23.0,Pendidikan Islam,3,3.50 - 4.00,No,0,No,No,No
100,Male,20.0,Biomedical science,1,3.00 - 3.49,No,0,No,No,No

In [20]:
# df.drop("Timestamp", axis=1, inplace=True)
df

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,Female,18.0,Engineering,0,3.00 - 3.49,No,1,No,Yes,No
1,Male,21.0,Islamic education,1,3.00 - 3.49,No,0,Yes,No,No
2,Male,19.0,BIT,0,3.00 - 3.49,No,1,Yes,Yes,No
3,Female,22.0,Laws,2,3.00 - 3.49,Yes,1,No,No,No
4,Male,23.0,Mathemathics,3,3.00 - 3.49,No,0,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,Female,21.0,BCS,0,3.50 - 4.00,No,0,Yes,No,No
97,Male,18.0,Engineering,1,3.00 - 3.49,No,1,Yes,No,No
98,Female,19.0,Nursing,2,3.50 - 4.00,Yes,1,No,Yes,No
99,Female,23.0,Pendidikan Islam,3,3.50 - 4.00,No,0,No,No,No
100,Male,20.0,Biomedical science,1,3.00 - 3.49,No,0,No,No,No

In [21]:
encoder = OrdinalEncoder()
encoded_values = encoder.fit_transform(df[col_names[6:]])

# df["What is your course?", "Marital status"] = encoded_values

df1 = pd.DataFrame(encoded_values, columns = col_names[6:]).astype(int)
df1

,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,0,1,0,1,0
1,0,0,1,0,0
2,0,1,1,1,0
3,1,1,0,0,0
4,0,0,0,0,0
...,...,...,...,...,...
96,0,0,1,0,0
97,0,1,1,0,0
98,1,1,0,1,0
99,0,0,0,0,0
100,0,0,0,0,0

## Observe that the "What is your CGPA?" column appear as a range. we need to find the average of each entry

In [22]:
try:
    lists = []
    for item in df["What is your CGPA?"]:
        y = item.split()
        a = float(y[0])
        c = float(y[-1])
        result = (a+c)/2
        lists.append(result)

    df["What is your CGPA?"] = lists


except:
    print("This operation has already been performed")

df

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,Female,18.0,Engineering,0,3.245,No,1,No,Yes,No
1,Male,21.0,Islamic education,1,3.245,No,0,Yes,No,No
2,Male,19.0,BIT,0,3.245,No,1,Yes,Yes,No
3,Female,22.0,Laws,2,3.245,Yes,1,No,No,No
4,Male,23.0,Mathemathics,3,3.245,No,0,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,Female,21.0,BCS,0,3.750,No,0,Yes,No,No
97,Male,18.0,Engineering,1,3.245,No,1,Yes,No,No
98,Female,19.0,Nursing,2,3.750,Yes,1,No,Yes,No
99,Female,23.0,Pendidikan Islam,3,3.750,No,0,No,No,No
100,Male,20.0,Biomedical science,1,3.245,No,0,No,No,No